extends layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/movie.css")

block content
    main
        form.movie-form(action="/admin/add-movie", method="POST")
            .form-control
                label(for="title") Title
                input(type="text", name="title")#title
            .form-control
                label(for="year") Year
                input(type="text", name="year")#year
            .form-control
                label(for="title") Genres (Separated by |)
                input(type="genres", name="genres")#genres
            button.btn(type="submit") Add Movie